body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1439px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1439px;
  height:838px;
}
#u822 {
  position:absolute;
  left:0px;
  top:0px;
  width:1439px;
  height:838px;
}
#u823 {
  position:absolute;
  left:2px;
  top:411px;
  width:1435px;
  visibility:hidden;
  word-wrap:break-word;
}
