body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1426px;
  height:91px;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:90px;
}
#u905 {
  position:absolute;
  left:2px;
  top:37px;
  width:1421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:61px;
}
#u906 {
  position:absolute;
  left:1122px;
  top:15px;
  width:64px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u907 {
  position:absolute;
  left:2px;
  top:21px;
  width:60px;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:61px;
}
#u908 {
  position:absolute;
  left:1186px;
  top:15px;
  width:64px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u909 {
  position:absolute;
  left:2px;
  top:21px;
  width:60px;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:61px;
}
#u910 {
  position:absolute;
  left:1250px;
  top:15px;
  width:64px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u911 {
  position:absolute;
  left:2px;
  top:21px;
  width:60px;
  word-wrap:break-word;
}
#u912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:24px;
}
#u913 {
  position:absolute;
  left:1009px;
  top:35px;
  width:44px;
  height:24px;
}
#u914 {
  position:absolute;
  left:2px;
  top:4px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u915 {
  position:absolute;
  left:842px;
  top:30px;
  width:30px;
  height:33px;
}
#u916 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
}
#u917 {
  position:absolute;
  left:881px;
  top:30px;
  width:121px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
}
#u918 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:263px;
}
#u919 {
  position:absolute;
  left:0px;
  top:85px;
  width:1425px;
  height:263px;
}
#u920 {
  position:absolute;
  left:2px;
  top:124px;
  width:1421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1426px;
  height:1485px;
}
#u921 {
  position:absolute;
  left:0px;
  top:348px;
  width:1425px;
  height:1484px;
}
#u922 {
  position:absolute;
  left:2px;
  top:734px;
  width:1421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:410px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u923 {
  position:absolute;
  left:117px;
  top:414px;
  width:300px;
  height:410px;
}
#u924 {
  position:absolute;
  left:2px;
  top:197px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u925 {
  position:absolute;
  left:117px;
  top:414px;
  width:300px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u926 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u927 {
  position:absolute;
  left:117px;
  top:474px;
  width:300px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u928 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u929 {
  position:absolute;
  left:117px;
  top:534px;
  width:300px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u930 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u931 {
  position:absolute;
  left:117px;
  top:589px;
  width:300px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u932 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:749px;
}
#u933 {
  position:absolute;
  left:466px;
  top:414px;
  width:836px;
  height:749px;
}
#u934 {
  position:absolute;
  left:2px;
  top:366px;
  width:832px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:556px;
}
#u935 {
  position:absolute;
  left:466px;
  top:1163px;
  width:836px;
  height:556px;
}
#u936 {
  position:absolute;
  left:2px;
  top:270px;
  width:832px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1426px;
  height:411px;
}
#u937 {
  position:absolute;
  left:0px;
  top:1832px;
  width:1425px;
  height:410px;
}
#u938 {
  position:absolute;
  left:2px;
  top:197px;
  width:1421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u939 {
  position:absolute;
  left:125px;
  top:1885px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u941 {
  position:absolute;
  left:288px;
  top:1885px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
}
#u943 {
  position:absolute;
  left:117px;
  top:1934px;
  width:48px;
  height:45px;
}
#u944 {
  position:absolute;
  left:2px;
  top:14px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
}
#u945 {
  position:absolute;
  left:117px;
  top:2015px;
  width:48px;
  height:45px;
}
#u946 {
  position:absolute;
  left:2px;
  top:14px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u947 {
  position:absolute;
  left:195px;
  top:1934px;
  width:211px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u949 {
  position:absolute;
  left:195px;
  top:2010px;
  width:211px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u951 {
  position:absolute;
  left:632px;
  top:2199px;
  width:161px;
  height:20px;
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1426px;
  height:2px;
}
#u953 {
  position:absolute;
  left:0px;
  top:2160px;
  width:1425px;
  height:1px;
}
#u954 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:120px;
}
#u955 {
  position:absolute;
  left:1178px;
  top:1907px;
  width:129px;
  height:120px;
}
#u956 {
  position:absolute;
  left:2px;
  top:52px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u957 {
  position:absolute;
  left:1179px;
  top:2062px;
  width:127px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:138px;
}
#u960 {
  position:absolute;
  left:859px;
  top:75px;
  width:177px;
  height:138px;
}
#u961 {
  position:absolute;
  left:2px;
  top:61px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u962 {
  position:absolute;
  left:906px;
  top:83px;
  width:128px;
  height:42px;
}
#u963 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u964 {
  position:absolute;
  left:906px;
  top:125px;
  width:128px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u965 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u966 {
  position:absolute;
  left:906px;
  top:167px;
  width:128px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u967 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u968 {
  position:absolute;
  left:842px;
  top:15px;
  width:211px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:60px;
}
#u969 {
  position:absolute;
  left:117px;
  top:15px;
  width:152px;
  height:60px;
}
#u970 {
  position:absolute;
  left:2px;
  top:22px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u971 {
  position:absolute;
  left:342px;
  top:32px;
  width:41px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u973 {
  position:absolute;
  left:422px;
  top:32px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u975 {
  position:absolute;
  left:546px;
  top:32px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
