body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1426px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:235px;
}
#u1736 {
  position:absolute;
  left:0px;
  top:88px;
  width:1425px;
  height:235px;
}
#u1737 {
  position:absolute;
  left:2px;
  top:110px;
  width:1421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1426px;
  height:661px;
}
#u1738 {
  position:absolute;
  left:0px;
  top:323px;
  width:1425px;
  height:660px;
}
#u1739 {
  position:absolute;
  left:2px;
  top:322px;
  width:1421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1740 {
  position:absolute;
  left:478px;
  top:368px;
  width:469px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1741 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  white-space:nowrap;
}
#u1742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1742 {
  position:absolute;
  left:94px;
  top:446px;
  width:1251px;
  height:156px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1743 {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  word-wrap:break-word;
}
#u1744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1744 {
  position:absolute;
  left:550px;
  top:664px;
  width:73px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1745 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1746 {
  position:absolute;
  left:550px;
  top:710px;
  width:73px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1747 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1748 {
  position:absolute;
  left:502px;
  top:802px;
  width:121px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1749 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1750 {
  position:absolute;
  left:550px;
  top:756px;
  width:73px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1751 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1752 {
  position:absolute;
  left:623px;
  top:664px;
  width:300px;
  height:33px;
}
#u1752_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1753 {
  position:absolute;
  left:623px;
  top:707px;
  width:300px;
  height:33px;
}
#u1753_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1754 {
  position:absolute;
  left:623px;
  top:756px;
  width:300px;
  height:33px;
}
#u1754_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1755 {
  position:absolute;
  left:623px;
  top:802px;
  width:300px;
  height:33px;
}
#u1755_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1756 {
  position:absolute;
  left:643px;
  top:917px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1757 {
  position:absolute;
  left:2px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u1758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1758 {
  position:absolute;
  left:116px;
  top:186px;
  width:306px;
  height:40px;
  font-size:20px;
}
#u1759 {
  position:absolute;
  left:2px;
  top:6px;
  width:302px;
  word-wrap:break-word;
}
#u1760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1760 {
  position:absolute;
  left:560px;
  top:186px;
  width:306px;
  height:40px;
  font-size:20px;
}
#u1761 {
  position:absolute;
  left:2px;
  top:6px;
  width:302px;
  word-wrap:break-word;
}
#u1762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1762 {
  position:absolute;
  left:1010px;
  top:186px;
  width:306px;
  height:40px;
  font-size:20px;
}
#u1763 {
  position:absolute;
  left:2px;
  top:6px;
  width:302px;
  word-wrap:break-word;
}
#u1764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1426px;
  height:411px;
}
#u1764 {
  position:absolute;
  left:1px;
  top:983px;
  width:1425px;
  height:410px;
}
#u1765 {
  position:absolute;
  left:2px;
  top:197px;
  width:1421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1766 {
  position:absolute;
  left:126px;
  top:1036px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1767 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1768 {
  position:absolute;
  left:289px;
  top:1036px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1769 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
}
#u1770 {
  position:absolute;
  left:118px;
  top:1085px;
  width:48px;
  height:45px;
}
#u1771 {
  position:absolute;
  left:2px;
  top:14px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
}
#u1772 {
  position:absolute;
  left:118px;
  top:1166px;
  width:48px;
  height:45px;
}
#u1773 {
  position:absolute;
  left:2px;
  top:14px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u1774 {
  position:absolute;
  left:196px;
  top:1085px;
  width:211px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u1775 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u1776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1776 {
  position:absolute;
  left:196px;
  top:1161px;
  width:211px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1777 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u1778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:120px;
}
#u1778 {
  position:absolute;
  left:1179px;
  top:1058px;
  width:129px;
  height:120px;
}
#u1779 {
  position:absolute;
  left:2px;
  top:52px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1780 {
  position:absolute;
  left:1180px;
  top:1213px;
  width:127px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1781 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1426px;
  height:91px;
}
#u1783 {
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:90px;
}
#u1784 {
  position:absolute;
  left:2px;
  top:37px;
  width:1421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:60px;
}
#u1785 {
  position:absolute;
  left:117px;
  top:15px;
  width:152px;
  height:60px;
}
#u1786 {
  position:absolute;
  left:2px;
  top:22px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1787 {
  position:absolute;
  left:342px;
  top:32px;
  width:41px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1788 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1789 {
  position:absolute;
  left:422px;
  top:32px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1790 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1791 {
  position:absolute;
  left:546px;
  top:32px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1792 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:61px;
}
#u1793 {
  position:absolute;
  left:1122px;
  top:15px;
  width:64px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1794 {
  position:absolute;
  left:2px;
  top:21px;
  width:60px;
  word-wrap:break-word;
}
#u1795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:61px;
}
#u1795 {
  position:absolute;
  left:1186px;
  top:15px;
  width:64px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1796 {
  position:absolute;
  left:2px;
  top:21px;
  width:60px;
  word-wrap:break-word;
}
#u1797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:61px;
}
#u1797 {
  position:absolute;
  left:1250px;
  top:15px;
  width:64px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1798 {
  position:absolute;
  left:2px;
  top:21px;
  width:60px;
  word-wrap:break-word;
}
#u1799 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:24px;
}
#u1800 {
  position:absolute;
  left:1009px;
  top:35px;
  width:44px;
  height:24px;
}
#u1801 {
  position:absolute;
  left:2px;
  top:4px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u1802 {
  position:absolute;
  left:842px;
  top:30px;
  width:30px;
  height:33px;
}
#u1803 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
}
#u1804 {
  position:absolute;
  left:881px;
  top:30px;
  width:121px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
}
#u1805 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1806 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:138px;
}
#u1807 {
  position:absolute;
  left:859px;
  top:75px;
  width:177px;
  height:138px;
}
#u1808 {
  position:absolute;
  left:2px;
  top:61px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1809 {
  position:absolute;
  left:906px;
  top:83px;
  width:128px;
  height:42px;
}
#u1810 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u1811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1811 {
  position:absolute;
  left:906px;
  top:125px;
  width:128px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1812 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u1813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1813 {
  position:absolute;
  left:906px;
  top:167px;
  width:128px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1814 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u1815 {
  position:absolute;
  left:842px;
  top:15px;
  width:211px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1816 {
  position:absolute;
  left:672px;
  top:31px;
  width:121px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1817 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1818 {
  position:absolute;
  left:507px;
  top:859px;
  width:425px;
  height:28px;
  font-size:20px;
}
#u1819 {
  position:absolute;
  left:16px;
  top:0px;
  width:407px;
  word-wrap:break-word;
}
#u1818_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
